<html>
<head>
</head>
  <body class="bg-white">
    <main class="px-4 py-2 sm:px-4 lg:px-6">
      <div class="mx-auto max-w-2xl">
        <.flash_group flash={@flash} class="mb-2" />
        {@inner_content}
      </div>
    </main>
  </body>
</html>
